@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");    
body {
  background: #e0e5ec;
}
.line {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 15px;
  color: #676767;
}
.container {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-buttons {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* Button 1 */
.button-1 {
  background: rgb(156, 210, 255);
  background: linear-gradient(0deg, rgb(51, 197, 255) 0%, rgb(152, 160, 251) 100%);
  border: none;
}
.button-1:hover {
   background: rgb(243, 108, 209);
background: linear-gradient(0deg, rgb(255, 119, 232) 0%, rgb(255, 182, 231) 100%);
}

/* Button 2 */
.button-2 {
  background: rgb(139, 218, 255);
  background: linear-gradient(0deg, rgb(77, 199, 255) 0%, rgb(205, 148, 255) 100%);
  border: none;
  
}
.button-2:before {
  height: 0%;
  width: 2px;
}
.button-2:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(195, 195, 195, 0.5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


/* Button 3 */
.button-3 {
  background: rgb(159, 228, 255);
background: linear-gradient(0deg, rgb(121, 216, 253) 0%, rgb(255, 164, 240) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.button-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.button-3:before,
.button-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgb(137, 198, 255);
  transition: all 0.3s ease;
}
.button-3:before {
  height: 0%;
  width: 2px;
}
.button-3:after {
  width: 0%;
  height: 2px;
}
.button-3:hover{
   background: transparent;
  box-shadow: none;
}
.button-3:hover:before {
  height: 100%;
}
.button-3:hover:after {
  width: 100%;
}
.button-3 span:hover{
   color: rgb(116, 116, 116);
}
.button-3 span:before,
.button-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgb(255, 149, 232);
  transition: all 0.3s ease;
}
.button-3 span:before {
  width: 2px;
  height: 0%;
}
.button-3 span:after {
  width: 0%;
  height: 2px;
}
.button-3 span:hover:before {
  height: 100%;
}
.button-3 span:hover:after {
  width: 100%;
}

/* 4 */
.button-4 {
  background-color: #ff7ba3;
background-image: linear-gradient(315deg, #fd50bb 0%, #a4dbff 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.button-4:hover{
  background-color: #b0efff;
background-image: linear-gradient(315deg, #41c3ff 0%, #ff7dd8 74%);
}
.button-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.button-4:before,
.button-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}
.button-4:before {
  height: 0%;
  width: .1px;
}
.button-4:after {
  width: 0%;
  height: .1px;
}
.button-4:hover:before {
  height: 100%;
}
.button-4:hover:after {
  width: 100%;
}
.button-4 span:before,
.button-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}
.button-4 span:before {
  width: .1px;
  height: 0%;
}
.button-4 span:after {
  width: 0%;
  height: .1px;
}
.button-4 span:hover:before {
  height: 100%;
}
.button-4 span:hover:after {
  width: 100%;
}

/*Button 5 */
.button-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255, 176, 213);
background: linear-gradient(0deg, rgb(255, 199, 238) 0%rgb(255, 177, 232) 100%);
}
.button-5:hover {
  color: #616161;
  background: transparent;
   box-shadow:none;
}
.button-5:before,
.button-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #fb9ab5;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.button-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.button-5:hover:before,
.button-5:hover:after{
  width:100%;
  transition:800ms ease all;
}


/* Button 6 */
.button-6 {
  background: rgb(152, 205, 255);
background: radial-gradient(circle, rgb(147, 224, 255) 0%, rgb(255, 153, 201) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.button-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.button-6:before,
.button-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
 box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.button-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.button-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.button-6:hover{
  background: transparent;
  color: #7c7c7c;
  box-shadow: none;
}
.button-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.button-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.button-6 span:before,
.button-6 span:after {
  position: absolute;
  content: "";
  box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.button-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.button-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.button-6 span:hover:before {
  width: 100%;
}
.button-6 span:hover:after {
  width: 100%;
}

/* Button 7 */
.button-7 {
background: linear-gradient(0deg, rgb(248, 168, 208) 0%, rgb(140, 202, 253) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.button-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.button-7:before,
.button-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgb(78, 239, 253);
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.button-7:before{
   height: 0%;
   width: 2px;
}
.button-7:after {
  width: 0%;
  height: 2px;
}
.button-7:hover{
  color: rgb(134, 134, 134);
  background: transparent;
}
.button-7:hover:before {
  height: 100%;
}
.button-7:hover:after {
  width: 100%;
}
.button-7 span:before,
.button-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgb(255, 148, 214);
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.button-7 span:before {
  width: 2px;
  height: 0%;
}
.button-7 span:after {
  height: 2px;
  width: 0%;
}
.button-7 span:hover:before {
  height: 100%;
}
.button-7 span:hover:after {
  width: 100%;
}

/* Button 8 */
.button-8 {
  background-color: #f0ecfc;
background-image: linear-gradient(315deg, #f0ecfc 0%, #ff8ce2 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.button-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.button-8:before,
.button-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #81cdff;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.button-8:before{
   height: 0%;
   width: 2px;
}
.button-8:after {
  width: 0%;
  height: 2px;
}
.button-8:hover:before {
  height: 100%;
}
.button-8:hover:after {
  width: 100%;
}
.button-8:hover{
  background: transparent;
}
.button-8 span:hover{
  color: #979797;
}
.button-8 span:before,
.button-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #ffc628;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.button-8 span:before {
  width: 2px;
  height: 0%;
}
.button-8 span:after {
  height: 2px;
  width: 0%;
}
.button-8 span:hover:before {
  height: 100%;
}
.button-8 span:hover:after {
  width: 100%;
}
  

/* Button 9 */
.button-9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.button-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background-color: #b41ff9;
background-image: linear-gradient(315deg, #f91fd5 0%, #21a6fe 74%);
  transition: all 0.3s ease;
}
.button-9:hover {
  background: transparent;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  color: #fff;
}
.button-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

/* Button 10 */
.button-10 {
  background: rgb(9, 136, 240);
background: linear-gradient(0deg, rgb(9, 148, 240) 0%, rgb(49, 173, 244) 100%);
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.button-10:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(.1);
  transform: scale(.1);
}
.button-10:hover {
  color: #fff;
  border: none;
  background: transparent;
}
.button-10:hover:after {
  background: rgb(0, 132, 255);
background: linear-gradient(0deg, rgb(2, 151, 251) 0%,  rgb(0, 98, 255)100%);
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Button 11 */
.button-11 {
  border: none;
  background: rgb(33, 171, 251);
    background: linear-gradient(0deg, rgb(33, 182, 251) 0%, rrgb(76, 131, 234)100%);
    color: #fff;
    overflow: hidden;
}
.button-11:hover {
    text-decoration: none;
    color: #fff;
}
.button-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-button1 3s ease-in-out infinite;
}
.button-11:hover{
  opacity: .7;
}
.button-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

@keyframes shiny-button1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

@-webkit-keyframes shiny-button1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}


/* Button 12 */
.button-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.button-12 span {
  background: rgb(109, 214, 255);
background: linear-gradient(0deg, rgb(48, 196, 255) 0%, rgb(60, 157, 255) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.button-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.button-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.button-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.button-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}


/* Button 13 */
.button-13 {
  background-color: #92e3f1;
background-image: linear-gradient(315deg, #83e2eb 0%, #9ff1ff 74%);
  border: none;
  z-index: 1;
}
.button-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: #41c0ba;
background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.button-13:hover {
  color: #fff;
}
.button-13:hover:after {
  top: 0;
  height: 100%;
}
.button-13:active {
  top: 2px;
}


/* Button 14 */
.button-14 {
  background: rgb(122, 213, 255);
  border: none;
  z-index: 1;
}
.button-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #f36aba;
  background-image: linear-gradient(315deg, #ff79dd 0%, #ffa0e2 74%);
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.button-14:hover {
  color: #000;
}
.button-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.button-14:active {
  top: 2px;
}

/* Button 15 */
.button-15 {
  background: #5cd1ff;
  border: none;
  z-index: 1;
}
.button-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #ff75ba;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.button-15:hover {
  color: #fff;
}
.button-15:hover:after {
  left: 0;
  width: 100%;
}
.button-15:active {
  top: 2px;
}


/* Button 16 */
.button-16 {
  border: none;
  color: #000;
}
.button-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.button-16:hover {
  color: #000;
}
.button-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.button-12:active {
  top: 2px;
}